@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  position: relative;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.6rem;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  line-height: 54px;
}

h2 {
  font-family: Open Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: bold;
  line-height: 46px;
}

h3 {
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 34px;
}

h4 {
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

h5 {
  font-family: Open Sans;
  margin: 0 px 16px;
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
}

h7 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-family: Open Sans;
  color: #544837;
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.button {
  padding: 11px 25px 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
}
.button_bordered {
  background-color: #FFFFFF;
  border: 3px solid #F5F5F5;
  color: #544837;
}
@media (max-width: 550px) {
  .button_bordered {
    margin-bottom: 10px;
  }
}
.button_colored {
  background-color: #FF9900;
  color: #FFFFFF;
  border: 3px solid #FF9900;
}
.button_big {
  padding: 15px 40px;
}
.button_small {
  padding: 7px 14px;
  border-radius: 90px;
}
@media (max-width: 550px) {
  .button {
    padding: 11px 40px 13px;
  }
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .layout-4-column {
    flex-wrap: wrap;
  }
}
.layout-3-column {
  display: flex;
}

.layout-2-column {
  display: flex;
}

/* скрываем чекбокс */
.hamburger-menu {
  display: none;
}
@media (max-width: 850px) {
  .hamburger-menu {
    display: block;
  }
}

#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: flex;
  /* используем flex для центрирования содержимого */
  align-items: center;
  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 31px;
  height: 31px;
  cursor: pointer;
  z-index: 2;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #173A56;
  border-radius: 2px;
}

.menu__btn > span::before {
  content: "";
  top: -10px;
}

.menu__btn > span::after {
  content: "";
  top: 10px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  top: 0;
  left: -100%;
  width: 350px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
@media (max-width: 550px) {
  .menu__box {
    width: 400px;
    height: 80%;
  }
}

/* элементы меню */
.background-hamburger {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: none;
  transition-duration: 0.25s;
  z-index: 1;
}

.logo-hamburger {
  position: absolute;
  top: 21px;
  left: 75px;
}

.header__buttons-hamburger {
  position: absolute;
}
@media (max-width: 850px) {
  .header__buttons-hamburger {
    display: none;
  }
}
@media (max-width: 550px) {
  .header__buttons-hamburger {
    display: flex;
    flex-direction: column;
    left: 120px;
  }
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #FFFFFF;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 10;
  transform: rotate(180deg);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 10;
  transform: rotate(180deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

#menu__toggle:checked ~ .background-hamburger {
  display: block;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

.list__item {
  padding-bottom: 35px;
}

.item__link {
  text-decoration: none;
  color: #544837;
  font-size: 22px;
  line-height: 28px;
}
.item__link:hover {
  color: #FF7549;
}

section {
  max-width: 1217px;
  padding: 0 10px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1197px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px 0;
}
.header__buttons .button {
  margin-left: 14px;
}
.header__buttons .button:first-child {
  margin-left: 0px;
}

.header__navigation .navigation__list {
  display: flex;
  list-style-type: none;
}
.header__navigation .navigation__list .list__item {
  padding: 0px 8.5px;
}
.header__navigation .navigation__list .list__item:last-child {
  padding-right: 0px;
}
.header__navigation .navigation__list .list__item .item__link {
  text-decoration: none;
  color: #544837;
}
.header__navigation .navigation__list .list__item .item__link:hover {
  color: #FF7549;
}
@media (max-width: 1200px) {
  .header__navigation .hamburger-menu {
    display: none;
  }
}
.header__navigation .header__navigation {
  display: none;
}
.header__navigation .hamburger-menu {
  display: inline-block;
}
.header__navigation .logo {
  padding-left: 10px;
  position: absolute;
  left: 64px;
}

@media (max-width: 1200px) {
  .hamburger-menu {
    display: none;
  }
}
@media (max-width: 850px) {
  .header__navigation {
    display: none;
  }

  .hamburger-menu {
    display: inline-block;
  }

  .logo {
    padding-left: 10px;
    position: absolute;
    left: 64px;
  }
}
@media (max-width: 550px) {
  .header__buttons {
    display: none;
  }

  .logo {
    top: 21px;
  }
}
.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
@media (max-width: 550px) {
  .promo {
    flex-direction: column-reverse;
  }
}
.promo .promo-content {
  padding-right: 49px;
}
@media (max-width: 550px) {
  .promo .promo-content {
    text-align: center;
    padding-right: 0px;
  }
  .promo .promo-content__title {
    font-size: 32px;
    line-height: 42px;
  }
}
.promo .promo__buttons {
  display: flex;
}
@media (max-width: 550px) {
  .promo .promo__buttons {
    flex-direction: column;
  }
}
.promo .promo-link {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
@media (max-width: 850px) {
  .promo .promo-link {
    padding-left: 40px;
    white-space: nowrap;
  }
}
@media (max-width: 550px) {
  .promo .promo-link {
    padding-left: 80px;
    padding-top: 25px;
  }
}
.promo .promo-link__text {
  color: #FF7549;
  padding-left: 10px;
  font-size: 19px;
}

@media (max-width: 550px) {
  .promo-image {
    width: 100%;
  }
}
.promo-image .promo__buttons {
  display: flex;
  padding-right: 44px;
  padding-top: 20px;
}
@media (max-width: 550px) {
  .promo-image .promo__buttons {
    flex-direction: column;
  }
}
@media (max-width: 850px) {
  .promo-image .promo {
    padding-left: 48px;
  }
  .promo-image .promo__buttons {
    padding-right: 0px;
    white-space: nowrap;
  }
}

.tools {
  padding: 0px;
  background-position: bottom;
  background-repeat: no-repeat;
}
.tools .tools__title {
  text-align: center;
  padding: 152px 0px 70px;
  max-width: 462px;
  margin: auto;
}
@media (max-width: 550px) {
  .tools .tools__title {
    padding: 48px 3px;
    font-size: 24px;
    line-height: 33px;
  }
}
.tools .tool-card {
  max-width: 262px;
  margin: auto;
}
.tools .tools__button {
  display: flex;
  justify-content: center;
  padding: 60px 0px 90px;
  background-position: bottom;
  background-image: url(/assets/image/background-tools.svg);
}
.tools .tools__button .button-tools:hover {
  background-color: #FF7549;
}
.tools .tools__button .button__tools {
  text-align: center;
}
@media (max-width: 850px) {
  .tools .tool-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tools .tools__article-title {
    margin: 20px;
  }
  .tools .tools__article-text {
    padding-bottom: 54px;
    text-align: center;
  }
}

.strategies__wrapper {
  flex-wrap: wrap;
}

.strategy_hidden {
  display: none;
}

.marketing-strategies__tags {
  padding-top: 25px;
  padding-bottom: 31px;
}

.layout-3-column__cards {
  display: flex;
}
@media (max-width: 850px) {
  .layout-3-column__cards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}
.layout-3-column__cards h3 {
  padding: 0px 30px;
  flex-grow: 1;
}
.layout-3-column__cards .tag-card__button {
  padding: 0px 30px;
  padding-bottom: 26px;
}
.layout-3-column__cards .tag-card {
  cursor: pointer;
  border: 2px #F5F5F5 solid;
  border-radius: 8px;
}
.layout-3-column__cards .tag-card:last-child {
  margin-right: 0px;
}
@media (max-width: 850px) {
  .layout-3-column__cards .tag-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 15px);
  }
}
.layout-3-column__cards .card-title:hover {
  color: #FF7549;
}

.layout-2-column__cards {
  display: flex;
  max-width: 377px;
  width: 100%;
}
@media (max-width: 850px) {
  .layout-2-column__cards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}
.layout-2-column__cards h3 {
  padding: 0px 30px;
  flex-grow: 1;
}
@media (max-width: 550px) {
  .layout-2-column__cards h3 {
    padding-right: 0px;
  }
}
@media (max-width: 550px) {
  .layout-2-column__cards .fifth-card {
    display: none;
  }
}
.layout-2-column__cards .tag-card__button {
  padding: 0px 30px;
  padding-bottom: 26px;
}
.layout-2-column__cards .tag-card {
  padding-right: 30px;
}
@media (max-width: 850px) {
  .layout-2-column__cards .tag-card {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 15px);
  }
}
@media (max-width: 550px) {
  .layout-2-column__cards .tag-card {
    padding-right: 0px;
  }
}
.layout-2-column__cards .card-title:hover {
  color: #FF7549;
}

@media (max-width: 850px) {
  .marketing-strategies__tags, .marketing-strategies__title, .marketing-strategies__text {
    text-align: center;
  }
}
@media (max-width: 850px) and (max-width: 550px) {
  .marketing-strategies__text {
    padding: 0 21px;
  }
}
@media (max-width: 850px) {
  .tag-card {
    max-width: 321px;
    padding-right: 0px;
  }
}
@media (max-width: 850px) and (max-width: 850px) {
  .card-image {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .big-layout {
    padding: 0 39px;
  }
}
@media (max-width: 850px) and (max-width: 550px) {
  .big-layout {
    padding: 0 15px;
  }
}
@media (max-width: 850px) and (max-width: 550px) {
  .last-layout {
    display: none;
  }
}
.about-us .about-us__article {
  padding-bottom: 26px;
}
.about-us .layout-3-column-employees {
  justify-content: space-between;
  padding-bottom: 101px;
}
.about-us .employees-card {
  display: flex;
  position: relative;
  border: 3px solid #F5F5F5;
  padding: 36px 0px 30px 30px;
  margin-right: 33px;
  max-width: 345px;
  width: 100%;
}
@media (max-width: 850px) {
  .about-us .employees-card {
    padding: 36px 0px 0px 30px;
  }
}
.about-us .employees-card .employees-foto {
  position: absolute;
  top: 0px;
  right: -67px;
}
@media (max-width: 850px) {
  .about-us .employees-card .employees-foto {
    position: relative;
    right: 0px;
  }
}
.about-us .employees-card .person-mail {
  text-decoration: none;
}
.about-us .employees-card .person-mail a:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {
  .about-us__title, .about-us__article {
    text-align: center;
  }
  .about-us__article {
    padding: 0 46px 36px 46px;
  }

  .layout-3-column-employees {
    padding-bottom: 31px;
  }
}
@media (max-width: 850px) and (max-width: 850px) {
  .layout-3-column-employees {
    overflow: scroll;
  }
}
@media (max-width: 850px) {
  .pagination__controls {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 850px) {
  .control-item {
    display: flex;
    list-style-type: none;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    border: 1px solid #2f281e;
  }
}
@media (max-width: 550px) {
  .about-us__article {
    padding: 0 21px 27px;
  }
}
.contact-us__background {
  max-width: 100%;
  background-color: #FFEEE1;
}

.contact-us .telefon {
  display: flex;
  font-size: 25px;
  line-height: 26px;
  padding-bottom: 19px;
}
@media (max-width: 850px) {
  .contact-us .telefon {
    justify-content: center;
  }
}
.contact-us .telefon__image {
  padding-right: 11px;
}
.contact-us .mail {
  display: flex;
  font-size: 25px;
  line-height: 26px;
}
@media (max-width: 850px) {
  .contact-us .mail {
    justify-content: center;
  }
}
.contact-us .mail__address {
  text-decoration: none;
  color: #544837;
}
.contact-us .mail__image {
  padding-right: 11px;
}
.contact-us__button {
  margin-bottom: 50px;
}
.contact-us__article {
  padding-bottom: 33px;
  padding-right: 90px;
}
@media (max-width: 850px) {
  .contact-us__article {
    padding-right: 0px;
  }
}
@media (max-width: 850px) {
  .contact-us {
    text-align: center;
  }
  .contact-us__information {
    padding-right: 91px;
    padding-top: 60px;
  }
}
@media (max-width: 850px) and (max-width: 850px) {
  .contact-us__information {
    padding-right: 0px;
    padding-top: 20px;
  }
}
.contact-us .telefon__number {
  text-decoration: none;
  color: #544837;
}
.contact-us .mail {
  padding-bottom: 90px;
}
@media (max-width: 850px) {
  .contact-us .mail {
    padding-bottom: 50px;
  }
  .contact-us .mail__address {
    text-decoration: none;
    color: #544837;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form input, .form textarea {
  color: #C6C6C6;
  padding-right: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}
.form input:focus, .form textarea:focus {
  border: 1px solid color- #FF9900;
  outline: none;
}
.form textarea {
  width: 100%;
  height: 162px;
}
.form input {
  margin-right: 10px;
}
.form input:last-child {
  margin-right: 0px;
}
.form .form-question {
  width: 100%;
  color: #C6C6C6;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  margin-bottom: 15px;
}

@media (max-width: 850px) {
  .layout-2-column {
    flex-direction: column;
  }

  .form input {
    margin-right: 0px;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  position: relative;
}
.footer h7 {
  padding-bottom: 30px;
}
.footer__list-item {
  padding-bottom: 20px;
  margin: 0px;
}
@media (max-width: 850px) {
  .footer__list-item {
    padding-bottom: 10px;
  }
}
@media (max-width: 850px) {
  .footer {
    flex-direction: column;
  }
  .footer .logo {
    padding-bottom: 31px;
    left: 0px;
    top: -10px;
  }
}
.footer .footer-navigation__navigation {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .footer .footer-navigation__navigation {
    padding-left: 15px;
    padding-top: 20px;
  }
}
@media (max-width: 550px) {
  .footer .footer-navigation__navigation {
    flex-direction: column;
  }
}
.footer .navigation-column {
  padding-left: 151px;
}
@media (max-width: 850px) {
  .footer .navigation-column {
    padding-left: 100px;
  }
  .footer .navigation-column:first-child {
    padding-left: 10px;
  }
}
@media (max-width: 850px) and (max-width: 550px) {
  .footer .navigation-column:first-child {
    padding-left: 0px;
  }
}
@media (max-width: 850px) {
  .footer .navigation-column:last-child {
    padding-right: 10px;
  }
}
@media (max-width: 550px) {
  .footer .navigation-column {
    padding-left: 0px;
  }
}
.footer .list__item {
  list-style-type: none;
  margin-bottom: 0px;
}
.footer .list__item:first-child {
  margin-top: 30px;
}
.footer .list__item:last-child {
  margin-bottom: 72px;
}
@media (max-width: 550px) {
  .footer .list__item {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .footer .list__item:first-child {
    margin-top: 0px;
  }
  .footer .list__item:last-child {
    margin-bottom: 18px;
  }
}
.footer .item__link {
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
}
.footer .item__link:hover {
  color: #FF7549;
}

/*# sourceMappingURL=style.css.map */
