* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: bold;
  line-height: 54px;
}

h2 {
  font-family: Open Sans;
  font-size: 34px;
  font-style: normal;
  font-weight: bold;
  line-height: 46px;
}

h3 {
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 34px;
}

h4 {
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

h5 {
  font-family: Open Sans;
  margin: 0 px 16px;
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
}

h7 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-family: Open Sans;
  color: #544837;
  margin: 0px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.button {
  padding: 11px 25px 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
  background-color: #FF7549;
}
.button_bordered {
  background-color: #FFFFFF;
  border: 3px solid #F5F5F5;
  color: #544837;
}
.button_colored {
  background-color: #FF9900;
  color: #FFFFFF;
  border: 3px solid #FF9900;
}
.button_colored:hover {
  background-color: #FF7549;
}
.button_big {
  padding: 15px 40px;
}
.button_small {
  background-color: #F5F5F5;
  padding: 7px 14px;
  border-radius: 90px;
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
}

.layout-3-column {
  display: flex;
}

.layout-2-column {
  display: flex;
}

section {
  max-width: 1197px;
  width: 100%;
  margin: auto;
}

.wrapper {
  max-width: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1197px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px 0;
}

.header__navigation .navigation__list {
  display: flex;
  list-style-type: none;
}
.header__navigation .list__item {
  padding: 0px 8.5px;
}
.header__navigation .list__item:last-child {
  padding-right: 0px;
}
.header__navigation .item__link {
  text-decoration: none;
  color: #544837;
}
.header__navigation .item__link:hover {
  color: #FF7549;
}

.header__buttons .button {
  margin-left: 14px;
}
.header__buttons .button:first-child {
  margin-left: 0px;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.promo .promo-content {
  padding-right: 49px;
}
.promo .promo-link {
  display: flex;
  align-items: center;
  padding-left: 44px;
}
.promo .promo-link__text {
  color: #FF7549;
  padding-left: 10px;
}

.promo__buttons {
  display: flex;
  padding-right: 44px;
  padding-top: 20px;
}

.tools {
  background-position: bottom;
  background-repeat: no-repeat;
}
.tools .tools__title {
  text-align: center;
  padding: 152px 0px 70px;
  max-width: 462px;
  margin: auto;
}
.tools .tool-card {
  max-width: 262px;
  margin: auto;
}
.tools .tools__button {
  display: flex;
  justify-content: center;
  padding: 60px 0px 90px;
  background-position: bottom;
  background-image: url(/assets/image/background-tools.svg);
}
.tools .tools__button .button-tools:hover {
  background-color: #FF7549;
}
.tools .tools__button .button__tools {
  text-align: center;
}

.marketing-strategies__tags {
  padding-top: 25px;
  padding-bottom: 31px;
}
.marketing-strategies__tags .tag__button:first-child {
  background-color: #FF9900;
}

.layout-3-column__cards {
  display: flex;
}
.layout-3-column__cards h3 {
  padding: 0px 30px;
}
.layout-3-column__cards .tag-card__button {
  padding: 0px 30px;
  padding-bottom: 26px;
}
.layout-3-column__cards .tag-card {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 2px #F5F5F5 solid;
  border-radius: 8px;
}
.layout-3-column__cards .tag-card:last-child {
  margin-right: 0px;
}
.layout-3-column__cards .card-title:hover {
  color: #FF7549;
}

.layout-2-column__cards {
  display: flex;
}
.layout-2-column__cards h3 {
  padding: 0px 30px;
}
.layout-2-column__cards .tag-card__button {
  padding: 0px 30px;
  padding-bottom: 26px;
}
.layout-2-column__cards .tag-card {
  padding-right: 30px;
}
.layout-2-column__cards .card-title:hover {
  color: #FF7549;
}

.about-us .about-us__article {
  padding-bottom: 26px;
}
.about-us .layout-3-column-employees {
  justify-content: space-between;
  padding-bottom: 101px;
}
.about-us .employees-card {
  display: flex;
  position: relative;
  border: 3px solid #F5F5F5;
  padding: 36px 0px 30px 30px;
  margin-right: 33px;
  max-width: 345px;
  width: 100%;
}
.about-us .employees-card .employees-foto {
  position: absolute;
  top: 0px;
  right: -67px;
}
.about-us .employees-card .person-mail {
  text-decoration: none;
}
.about-us .employees-card .person-mail a:hover {
  text-decoration: underline;
}

.contact-us__background {
  max-width: 100%;
  background-color: #FFEEE1;
}

.contact-us .contact-us__information {
  padding-right: 91px;
  padding-top: 60px;
}
.contact-us .contact-us__article {
  padding-bottom: 33px;
}
.contact-us .telefon__number {
  text-decoration: none;
  color: #544837;
}
.contact-us .mail {
  padding-bottom: 90px;
}
.contact-us .mail__address {
  text-decoration: none;
  color: #544837;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form input, .form textarea {
  color: #C6C6C6;
  padding-right: 20px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}
.form input:focus, .form textarea:focus {
  border: 1px solid color- #FF9900;
  outline: none;
}
.form textarea {
  width: 100%;
  height: 162px;
}
.form input {
  margin-right: 10px;
}
.form input:last-child {
  margin-right: 0px;
}
.form .form-question {
  width: 100%;
  color: #C6C6C6;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  margin-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}
.footer .footer-navigation__navigation {
  display: flex;
  justify-content: space-between;
}
.footer .navigation-column {
  padding-left: 151px;
}
.footer .list__item {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer .list__item:first-child {
  margin-top: 10px;
}
.footer .list__item:last-child {
  margin-bottom: 72px;
}
.footer .item__link {
  text-decoration: none;
}
.footer .item__link:hover {
  color: #FF7549;
}

/*# sourceMappingURL=style.css.map */
