html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
}

h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0 px 16px;
}

h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.button {
  padding: 11px 25px 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
}
.button_bordered {
  background-color: #FFFFFF;
  border: 3px solid #F5F5F5;
  color: #544837;
}
.button_colored {
  background-color: #FF9900;
  color: #FFFFFF;
  border: 3px solid #FF9900;
}
.button_big {
  padding: 15px 40px;
}
.button_small {
  background-color: #F5F5F5;
  padding: 7px 14px;
  border-radius: 90px;
}

.layout-4-column {
  display: flex;
}

.layout-3-column__cards {
  display: flex;
}
.layout-3-column__cards .tag-card {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 2px #F5F5F5 solid;
  border-radius: 8px;
}
.layout-3-column__cards .tag-card:last-child {
  margin-right: 0px;
}

.layout-2-column__cards {
  display: flex;
}
.layout-2-column__cards .tag-card {
  padding-right: 30px;
}

section {
  max-width: 1197px;
  width: 100%;
  margin: auto;
}

.wrapper {
  max-width: 1197px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1197px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 15px 0 17px 0;
}

.header__navigation .navigation__list {
  display: flex;
  list-style-type: none;
}
.header__navigation .list__item {
  padding: 0px 8.5px;
}
.header__navigation .list__item:last-child {
  padding-right: 0px;
}
.header__navigation .item__link {
  text-decoration: none;
  color: #544837;
}

.header__buttons .button {
  margin-left: 14px;
}
.header__buttons .button:first-child {
  margin-left: 0px;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.promo .promo-content {
  padding-right: 65px;
}
.promo .promo-link {
  display: flex;
  align-items: center;
  padding-left: 44px;
}
.promo .promo-link__text {
  color: #FF7549;
}

.promo__buttons {
  display: flex;
  padding-right: 44px;
  padding-top: 20px;
}

.tools {
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(/assets/image/background-tools.svg);
}
.tools .tools__title {
  text-align: center;
  padding: 152px 0px 70px;
}
.tools .tool-card {
  padding-right: 85px;
  max-width: 262px;
}
.tools .tools__button {
  display: flex;
  justify-content: center;
  padding: 60px 0px 90px;
}
.tools .button__tools {
  text-align: center;
}

.marketing-strategies .tag-card__button {
  padding-bottom: 26px;
}

.marketing-strategies__tags {
  padding-top: 25px;
  padding-bottom: 31px;
}
.marketing-strategies__tags .tag__button:first-child {
  background-color: #FF9900;
}

.contacts-us {
  background-color: #FFEEE1;
}

/*# sourceMappingURL=style.css.map */
