$color-primary:#FF9900;
$color-additional: #FF7549;
$color-background:#FFEEE1;
$color-link:#1943EF;
$color-card-lilium:#7752BE;
$color-card-yellow:#FAB005;
$color-card-red: #F03E3D;
$color-card-blue: #4DADF7;
$color-tag:#F5F5F5


$button-border-radius  4px;
$tag-button-border-radius: 90px;

h1 {
    
    font-size: 44px;
    line-height: 54px;
}
h2 {

    font-size: 34px;
    line-height: 46px;
}

h3{
    font-size: 24px;
    line-height: 34px;

}
h4{
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}