html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include font (44px, 54px, bold );
}
h2 {
    font-family: Open Sans;
    @include font (34px,46px,bold)
}

h3{
    font-family: Open Sans;
    @include font (24px,34px,bold)
}
h4{
    font-family: Open Sans;
    @include font (22px,30px,600)
}
h5 {
    font-family: Open Sans;
    margin: 0 px 16px;
    margin: 0px;
    @include font (16px,26px,normal)
}
h6 {
@include font (18px,28px,normal)

}
h7 {
    @include font (20px,30px,600)
}
p {
    @include font (14px,26px,normal);
    font-family: Open Sans;
    color:$color-text;
    margin: 0px;
}
ul {
    margin:0px;
    padding-left: 0px;
}