.button {
    padding: 11px 25px 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 4px;
  
    &_bordered {
        @media(max-width:550px) {
         margin-bottom: 10px;
        }
        background-color: $color-light;
        border: 3px solid $color-border;
        color: $color-text;
        
    }
    &_colored {
        background-color: $color-primary;
        color: $color-light;
        border: 3px solid $color-primary;
    }
    &_big {
        padding:15px 40px;
         
    }
    &_small {
        
       
        padding: 7px 14px;
        border-radius: 90px;
        
    }
    
    @media(max-width:550px) {
        padding: 11px 40px 13px;
    }
}


