.about-us {
    .about-us__article {
        padding-bottom: 26px;
    }
    .layout-3-column-employees {
        justify-content: space-between;
        padding-bottom: 101px;
    }
   .employees-card {
    display:flex;
    position: relative;
    border: 3px solid $color-border;
    padding: 36px 0px 30px 30px;
    margin-right: 33px;
    .employees-foto {
        position: absolute ;
        top:10px;
        left:250px;
       
    }
   }
   
}
.person-info {
    padding-right: 65px;
    
}
