.contact-us__background    {
    max-width: 100%;
    background-color: $color-background;
}
.contact-us {
    .telefon{
        display: flex;
        justify-content: center;
        font-size: 25px;
        line-height: 26px;
        padding-bottom: 19px;
        &__image {
            padding-right: 11px;
        }
    }
    .mail {
        display: flex;
        justify-content: center;
        font-size: 25px;
        line-height: 26px;
        &__image {
            padding-right: 11px;
        }
    }
    &__button {
        margin-bottom: 50px;
    }
    &__article {
        padding-bottom: 33px;
     }
    @media (max-width: 780px){
    text-align: center;
    &__information {
        padding-right: 91px;
        padding-top: 60px;
        @media (max-width: 780px) {
            padding-right: 0px;
            padding-top: 20px;
        }
    }
    }

 
 .telefon__number {
     text-decoration: none;
     color: $color-text;
    
 }
 .mail {
    padding-bottom: 90px;
    @media (max-width: 780px) {
        padding-bottom: 50px;
        &__address {
            text-decoration: none;
            color: $color-text;  
         }
    }
 }

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input, textarea {
     
        color: $color-form;
        padding-right: 20px;
        border: 2px solid $color-light;
        border-radius: 4px;
        margin-bottom: 10px; 
        resize: none;
        &:focus {
            border: 1px solid color-$color-primary ;
            outline: none;
        }
    }
        textarea {
       width: 100%;
       height: 162px;
        }
        input {
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
        }
    
    
  
    .form-question {
        width: 100%;
        color: $color-form;
        border: 2px solid $color-light;
        border-radius: 4px;
        margin-bottom: 15px;
    }
}
@media (max-width: 780px) {
    .layout-2-column {
        flex-direction: column;
    }
  .form input {
  margin-right: 0px;
  }
}
