.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
 .footer-navigation__navigation {
     display: flex;
     justify-content: space-between;
 }
 .navigation-column{
     padding-left: 151px;
 }
 .list__item {
    list-style-type: none;
    margin-bottom: 10px;
         &:first-child{
             margin-top: 10px;
         } 
         &:last-child {
        margin-bottom: 72px;
    } 
    
   }
 .item__link {
     text-decoration: none;
     color:$color-text
         
   }        
    

}         