.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $content-width;
    background-color: $color-light;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
   padding: 15px 0 17px 0;

   &__buttons{
    .button {
    margin-left: 14px;
    }
    .button:first-child {
        margin-left: 0px;
    }
}
}
.header__navigation{
    
    .navigation__list {
    display: flex;
    list-style-type: none;
    .list__item {
        padding: 0px 8.5px;
        &:last-child  {
            padding-right: 0px;
        }
        .item__link {
            text-decoration: none;
            color:$color-text;
            &:hover {
                color: $color-additional
            }
        }
    }
 }
   
   
}   
    @media (max-width:1200px){
        .hamburger-menu {
            display:none
        }
    }


 @media (max-width:780px){
    
     .header__navigation {
         display:none;
     }
     .hamburger-menu {
         display: inline-block;
     }
     .logo {
         position: absolute;
         padding-left: 80px;
            
     }
     
    } 