.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px; 

    .promo-content {
        padding-right: 65px;
        }
   .promo-link {
    display: flex;
    align-items: center;
       padding-left: 44px;    
   }
   .promo-link__text {
       color: $color-additional;
   }
}
.promo__buttons {
    display: flex;
    padding-right:44px ;
    padding-top: 20px;
    
}

