.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px; 
 
   
    &.promo__buttons {
        display: flex;
        justify-content: space-between;
        margin-right:44px ;
    }
}
.promo-content {
    padding-right: 65px;
    }

