.strategies__wrapper {
    flex-wrap: wrap;
}
    
.marketing-strategies__tags {
    padding-top: 25px;
    padding-bottom: 31px;
    .tag__button:first-child {
        background-color: $color-primary;
    }
   
}
.layout-3-column__cards {
    display: flex;
  h3 {
      padding: 0px 30px;
  }
  
  .tag-card__button {
    padding: 0px 30px;
    padding-bottom: 26px
  }
    .tag-card {
        margin-right: 30px;
        margin-bottom: 30px;
        border: 2px $color-border solid;
        border-radius: 8px;
        &:last-child {
            margin-right: 0px;
        }
    }
    
    .card-title {
        &:hover {
            color: $color-additional;
        }
    }
}
.layout-2-column__cards {
    display: flex;
    max-width: 377px;
   width: 100%;
    h3 {
        padding: 0px 30px;
    }
    .tag-card__button {
      padding: 0px 30px;
      padding-bottom: 26px
    }
    .tag-card {
        
        padding-right: 30px;
    }
    .card-title {
        &:hover {
            color: $color-additional;
        }
    }
   
}
@media (max-width:780px){
    .marketing-strategies {
        &__tags,&__title,&__text {
        text-align: center;
        }
    }
    .card-image {
        max-width: 321px;
    }
}