.marketing-strategies {
    .tag-card__button {
        padding-bottom: 26px;
    }
    
}
.marketing-strategies__tags {
    padding-top: 25px;
    padding-bottom: 31px;
    .tag__button:first-child {
        background-color: $color-primary;
    }
}
.layout-3-column__cards {
    display: flex;
    .tag-card {
        margin-right: 30px;
        margin-bottom: 30px;
        border: 2px $color-border solid;
        border-radius: 8px;
    }
    .tag-card:last-child {
        margin-right: 0px;
    }
}
.layout-2-column__cards {
    display: flex;
    .tag-card {
        padding-right: 30px;
    }
}