.tools {
    padding: 0px;
    background-position: bottom;
    background-repeat: no-repeat;
  .tools__title {
    text-align: center;
    padding: 152px 0px 70px;
    max-width: 462px;
    margin: auto;
    @media(max-width: 550px){
        padding: 48px 3px;
        font-size: 24px;
        line-height: 33px;
    }
    }
    .tool-card {
        max-width: 262px;
        margin: auto;
    }
    .tools__button{
        display: flex;
        justify-content: center;
        padding: 60px 0px 90px;
        background-position: bottom;
        .button-tools {
           &:hover {
               background-color:$color-additional;
        }
    }
        
    
    .button__tools {
        text-align: center;
       
    }
    background-image:url(/assets/image/background-tools.svg);
   
}
@media (max-width:850px){
    .tool-card {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .tools__article-title {
       margin:20px;
   }
   .tools__article-text {
    padding-bottom: 54px;
    text-align: center;
   }
}
}