.strategies__wrapper {
    flex-wrap: wrap;
}
.strategy {
    &_hidden {
        display: none;
    }
}
.marketing-strategies__tags {
    padding-top: 25px;
    padding-bottom: 31px;

   
}
.layout-3-column__cards {
    display: flex;
    @media (max-width:850px){
    flex-wrap: wrap;
    justify-content: space-between;
    gap:30px;
    }
   
  h3 {
      padding: 0px 30px;
      flex-grow: 1;
  }
  
  .tag-card__button {
    padding: 0px 30px;
    padding-bottom: 26px
  }
    .tag-card {
        cursor:pointer;
       
        border: 2px $color-border solid;
        border-radius: 8px;
        &:last-child {
            margin-right: 0px;
        }
        @media (max-width:850px){
         display: flex;
         flex-direction: column;
         flex-basis: calc(50% - 15px);


        }
       
       
    }
   
    .card-title {
        &:hover {
            color: $color-additional;
        }
    }
}
.layout-2-column__cards {
    display: flex;
    @media (max-width:850px){
        flex-wrap: wrap;
        justify-content: space-between;
        gap:30px;
        }
    max-width: 377px;
   width: 100%;

   
    h3 {
        padding: 0px 30px;
        flex-grow: 1;
        @media (max-width:550px){
            padding-right: 0px;
        }
    }
    
    .fifth-card {
        @media(max-width: 550px){
            display: none;
        }
    }
 
    
    .tag-card__button {
      padding: 0px 30px;
      padding-bottom: 26px
    }
    .tag-card {
        
        padding-right: 30px;
        @media (max-width:850px){
            display: flex;
            flex-direction: column;
            flex-basis: calc(50% - 15px);
           }
          
        @media(max-width:550px){
            padding-right: 0px;
        }
    }
    .card-title {
        &:hover {
            color: $color-additional;
        }
    }
   
}
@media (max-width:850px){
    .marketing-strategies {
        &__tags,&__title,&__text {
        text-align: center;
        }
        @media (max-width:550px){
            &__text {
                padding: 0 21px;
            }
        }
    }
    .tag-card {
        max-width: 321px;
        padding-right: 0px;
        
    }
    .card-image {
       
        @media (max-width:850px){
           width: 100%;
        
        }
    }
    .big-layout {
        padding: 0 39px ;
        @media (max-width:550px){
            padding: 0 15px;
        }
    }
    .last-layout {
        @media (max-width:550px){
            display: none;
        }
    }
}